<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.moondroid.chatbot" >

    <application
        android:name=".ChatBotApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="it.moondroid.chatbot.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".LoadBrainService"
            android:exported="false"/>

        <service android:name=".BrainService"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name" />

    </application>

</manifest>
